<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="小周的留言板，分享你的想法">
    <meta name="author" content="小周">


    <title>小周的留言板</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/grayscale.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/messageboard.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/glass-button.css') }}">

    <!-- Custom Fonts -->
    <link href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-comment"></i> <span class="light">小周的</span> 留言板
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">关于</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#message-board">留言板</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">联系我</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">小周的留言板</h1>
                        <p class="intro-text">一个简单的留言板，分享你的想法和心情<br>不需要登录，畅所欲言。</p>
                        <a href="#message-board" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Transition Band：放在 <header> 或关于区块之后，留言板之前 -->
<div id="transition-band">
  <div class="glass-card">
    <h3>FANTA</h3>
    <!-- 这里就是按钮 -->
    <button type="button" onclick="document.querySelector('#message-board').scrollIntoView({ behavior: 'smooth' })">
      我要留言
    </button>
    <div class="down-arrow">⌄</div>
  </div>
</div>

    <!-- Message Board Section -->
    <section id="message-board" class="content-section text-center">
        <div class="message-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>留言板</h2>
                    <p>在这里留下你的想法和心情</p>
                    
                    <!-- 留言表单 -->
                    <div class="message-form-container">
                        <form id="messageForm">
                            <div class="form-group">
                                <textarea class="form-control" id="messageContent" rows="4" placeholder="写下你想说的话..." required></textarea>
                            </div>
                            <button type="submit" class="btn btn-default btn-lg">发送留言</button>
                        </form>
                    </div>
                    
                    <!-- 留言列表 -->
                    <div class="messages-container">
                        <h3>最新留言</h3>
                        <div id="messagesList" class="messages-list">
                            <!-- 留言将通过JavaScript动态加载 -->
                            <p class="text-center text-muted">加载中...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>关于留言板</h2>
                <p>欢迎来到小周的留言板！这是一个简单的留言平台，你可以在这里分享你的想法、感受或者只是打个招呼。</p>
                <p>无需注册登录，每次留言系统会为你自动生成一个有趣的网名。</p>
                <p>希望这个小小的角落能带给你愉快的体验！</p>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>联系小周</h2>
                <p>如果你有问题或建议，欢迎联系我！</p>
                <p><a href="mailto:example@example.com">example@example.com</a></p>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="#" class="btn btn-default btn-lg"><i class="fa fa-weixin fa-fw"></i> <span class="network-name">微信</span></a>
                    </li>
                    <li>
                        <a href="#" class="btn btn-default btn-lg"><i class="fa fa-weibo fa-fw"></i> <span class="network-name">微博</span></a>
                    </li>
                    <li>
                        <a href="#" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; 小周的留言板 2023</p>
        </div>
    </footer>

    <!-- jQuery Version 1.11.0 -->
    <script src="{{ url_for('static', filename='js/jquery-1.11.0.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ url_for('static', filename='js/jquery.easing.min.js') }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ url_for('static', filename='js/grayscale.js') }}"></script>
    
    <!-- Message Board JavaScript -->
    <script src="{{ url_for('static', filename='js/messageboard.js') }}"></script>

</body>
</html>
